board-hero {
  border-radius: 20px;
  background-color: grey;
  width: 40px;
  height: 40px;

  /** Centrage du texte **/
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

board-hero:hover {
  border:2px solid darkred;
}


board-hero.selected {
  border: 2px solid red;
}


