<div class="panel-body" dnd-sortable-container [sortableData]="heroes" [dropZones]="['delete-dropZone']">
  <ul class="list-group">

    <li *ngFor="let hero of heroes; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i"
        [dragData]="hero">
      {{hero.name}}

      <span class="flex-center">

       <span class="glyphicon glyphicon-flash">{{ getAttaque(hero) }} </span>
       <span class="glyphicon glyphicon-remove-sign">{{ getDefense(hero) }}</span>
       <span class="glyphicon glyphicon-move">{{ getMove(hero) }}</span>
       <span class="glyphicon glyphicon-heart">{{ getHp(hero) }} </span>

      </span>
    </li>
  </ul>
</div>

<div class="panel">
  {{ message }}
</div>

<div class="panel panel-default drop-zone padding">
  <div class="panel-body" dnd-droppable [dropZones]="['delete-dropZone']" (onDropSuccess)="unsetHero($event)">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </div>
</div>



