
  <div class="items" dnd-sortable-container [sortableData]="items">
    <ul class="list-group">

      <li *ngFor="let item of items; let i = index" (click)="select(item)" class="list-group-item" dnd-sortable [sortableIndex]="i"
          [dragData]="hero">
        {{item.name}}

        <span class="flex-center">

         <span class="glyphicon glyphicon-flash">{{ item.attaque}} </span>
         <span class="glyphicon glyphicon-remove-sign">{{ item.defense }}</span>
         <span class="glyphicon glyphicon-move">{{ item.move }}</span>
         <span class="glyphicon glyphicon-heart">{{ item.hp }} </span>

        </span>
      </li>
    </ul>
  </div>
  <div class="">
    <app-item [item]="selected" (closeItem)="closeItem()" *ngIf="selected"></app-item>
    <button class="btn btn-default" (click)="createItem()" [hidden]="selected">Créer un item</button>
  </div>
