<div class="row">

    <div id="hero-panel" *ngIf="hero">
        <div class="panel panel-default ">
            <div class="panel-heading">
                {{ hero.name }}
                <button class="edit-btn btn" type="button" (click)="editHero(hero)"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="edit-btn btn btn-success" type="button" (click)="addItem()"><span class="glyphicon glyphicon-plus"></span></button>

            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col stats">

                        <div><span class="glyphicon glyphicon-flash"></span> Attaque : {{ heroStats.attaque }}</div>
                        <div><span class="glyphicon glyphicon-remove-sign"></span> Défense :{{ heroStats.defense }}</div>
                        <div><span class="glyphicon glyphicon-move"></span> Mouvement : {{ heroStats.move }}</div>
                        <div><span class="glyphicon glyphicon-heart"></span> Hp : {{ heroStats.hp }}</div>

                    </div>
                    <div class="col">
                        <img [src]="hero.image.downloadURL">
                    </div>
                </div>
            </div>
            <div class="items">
              <ul class="list-group">

                <li *ngFor="let item of hero.items; let i = index" class="list-group-item">

                  <div class="item">
                    <div style="width:100%">
                      {{item.name}}
                    </div>
                    <div style="width:100%">

                      <span class="flex-center">

                      <span class="glyphicon glyphicon-flash">{{ item.attaque}} </span>
                      <span class="glyphicon glyphicon-remove-sign">{{ item.defense }}</span>
                      <span class="glyphicon glyphicon-move">{{ item.move }}</span>
                      <span class="glyphicon glyphicon-heart">{{ item.hp }} </span>

                      </span>
                    </div>
                  </div>
                  <div>
                    <button type="button" class="btn" (click)="unsetItem(item)">
                      <span class="glyphicon glyphicon-minus"></span></button>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-footer">
                Utilisé par :
                <span *ngFor="let name of usedBy" class="label label-info">{{ name }}</span>
            </div>
        </div>
    </div>

    <div *ngIf="item" class="">
        <app-items (close)="closeItems()" (addItem)="addItemToHero($event)"></app-items>
    </div>

</div>
